.hero{
    background: white;
    display: flex;
    width:1600px;
    height:99px;
    justify-content: space-between;
    padding:16px 120px 16px 120px;
}
.hero-2{
    display:flex;
    gap:37px;
    font-size: 25px;
    font-weight:500;
}
.btn{
    color: white;
    background-color: #469165;
    padding:12px 16px;
    border-radius:10%;
    font-size: 16px;
    font-weight:600;
    border:#469165;

}
.hero-1{
    width:147px;
    height:65px;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.banner{
    background-image:url("assets/hero-bg.png");
    background-color:#001931;
    width:2042px;
    height:1200px;
    opacity:80%;
    
}
.banner-1 h1{
    color:white;
    font-size: 72px;
    font-weight:bold;
    text-align: center;
    margin:16px 295x 10px 295px;
    
}
.banner-1 h1 span{
    color:#30B868;
}
.banner-1{
    padding:166.5px 415px 189.5px 415px;
    
}
.banner-1 p{
    font-size: 18px;
    font-weight: 400;color:#FFFFFF;
    text-align: center;
    margin:10px 295px;
}
.start{
    display: flex;
    gap:10px;
    align-content: center;
    margin:32px 447px 179px 447px;

}
.high{
    padding:12px 16px;
    border-radius: 4px;
    background-color:#30B868;
    color:white;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
}
.high img{
    width:20px;
    height:20px;
    align-items: center;
    
}
.low{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background: transparent;

}
.low img{
    height:20px;
    width:20px;
}
.circle{
    border-radius: 50%;
    background-COLOR:#30B868;width: 10px;
    height:8px;
}
.early{
    color: #30B868;
    background-color: #FFFFFF;
    font-weight: 500;
    MARGIN: 20px 520px;
    display: flex;gap:2px;
    align-items: center;
    border-radius: 20px;
}
.main{
    text-align: center;
}
.main h2{
    font-size: 48px;
    font-weight: bold;
    align-content: center;
    color:#001931;
}
.main p{
    font-size: 16px;
    font-weight: 400;
    align-content: center;
}
.card{
    margin:44px auto 48px auto;
    display: flex;
    justify-content: space-between;
    gap:24px;
}
.one{
    background-color:white ;
    padding:24px;
    box-shadow:0 4px 8px #000; 
}
.two {
background-color:white ;
    box-shadow:0 4px 8px #000; 
    padding: 24px;
}
.three{
    background-color:white ;
    box-shadow:0 4px 8px #000; 
    padding: 24px;
}
.four{
    background-color:white ;
    box-shadow:0 4px 8px #000;
    padding:24 px 
}
.light{
    margin:120px;
    display:flex;gap:60px;
}
.yellow{
    width:600px;height:600px;

}
.write p{
color:#627382;
font-weight: 400; 
font-size: 16px;   
}
.write{
    margin-top:10px ;margin-bottom: 102px;
    
}
.write li{
    list-style:none;
}
.write h2{
    font-size: 48px;
    font-weight: bold;
}
.extra{
    font-size: 16px;
    font-weight: 500;
    color:#469165;
}
.again button{ 
    background-color: #30B868; 
    color: #FFFFFF; 
    display: flex; 
    align-items: center;
    justify-content: center; border-radius: 4px; padding:12px 16px; 
    cursor: pointer; 
    

}
.again{
   margin:2px 120px 120px 120px;
   padding:80px 40px;
   align-content: center;
   justify-content: center;
   text-align:center;
   color:#f7f6f2;
}
.again h3{
    font-size: 40px;
    font-weight: bold;
    color: #000;
}
.again p{
    color: #627382;
    font-weight: 400;
    font-size: 16px;
}
.footer{
    background-color: #001931;
    color: #FFFFFF;
    padding: 30px 50px 15px 50px;
    border-top:1px solid #627382;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-left{
    width:139px;
    height:60px;
}
.footer-right p{
    font-size:20px ;
    font-weight: 500;
}
.social-icons{
    display: flex;
    gap: 8px;
    
}
.social-icons a img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.footer-bottom{
    text-align: center;
    color:white;
}



